<html>
	<head><title>Cinema</title></head>
	<body>
		<h2>Get Users by Name:</h2>
		<ul>
			#foreach($user in $users)
				<li> ${user.id}/${user.name}/${user.email}/${user.birthDay}</li>
			#end
		</ul>
	</body>
</html>