<html>
	<head><title>Cinema</title></head>
	<body>
		<h1>Welcom to Home Page Cinema Web Application!!!</h1>
		
      <form class="form-horizontal" enctype="multipart/form-data" action="/spring-advanced-task/upload" method="post">
          <div class="form-actions">
            <h2>Select users.json file</h2>
            <input type="file" name="users"/>
            <h2>Select events.json file</h2>
            <input type="file" name="events"/>
            <hr>
            <button class="btn btn-primary" type="submit">Upload</button>
          </div>
      </form>
		<div>
			<a href="http://localhost:8080/spring-advanced-task/users">http://localhost:8080/spring-advanced-task/users</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/users/2">http://localhost:8080/spring-advanced-task/users/2</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/users/2/tickets">http://localhost:8080/spring-advanced-task/users/2/tickets</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/users/2/tickets.pdf">http://localhost:8080/spring-advanced-task/users/2/tickets.pdf</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/events">http://localhost:8080/spring-advanced-task/events</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/events/1">http://localhost:8080/spring-advanced-task/events/1</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/events/1/tickets">http://localhost:8080/spring-advanced-task/events/1/tickets</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/events/1/tickets.pdf">http://localhost:8080/spring-advanced-task/events/1/tickets.pdf</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/tickets/events/1">http://localhost:8080/spring-advanced-task/tickets/events/1</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/tickets/events/1.pdf">http://localhost:8080/spring-advanced-task/tickets/events/1.pdf</a>
			<br>
			<a href="http://localhost:8080/spring-advanced-task/tickets/book">http://localhost:8080/spring-advanced-task/tickets/book</a>
			<br>
		</div>
	</body>
</html>