<html>
	<head><title>Cinema</title></head>
	<body>
		<h1>Welcom to Home Page Cinema Web Application!!!</h1>
		
      <form class="form-horizontal" enctype="multipart/form-data" action="${rc.contextPath}/upload" method="post">
          <div class="form-actions">
            <h2>Select users.json file</h2>
            <input type="file" name="users"/>
            <h2>Select accounts.json file</h2>
            <input type="file" name="accounts"/>
            <h2>Select events.json file</h2>
            <input type="file" name="events"/>
            <hr>
            <button class="btn btn-primary" type="submit">Upload</button>
          </div>
      </form>
      <hr>
      <hr>
		<div>
			<h1>REST WS:</h1>
		</div>
		<div>
			<a href="${rc.contextPath}/swagger-ui.html">Swagger API Docs</a>
			<br>
			<a href="${rc.contextPath}/v2/api-docs?group=cinema">Swagger JSON</a>
			<br>
			<a href="${rc.contextPath}/users/2.json">GET:/users/2</a>
			<br>
			<a href="${rc.contextPath}/users/2/tickets.json">GET:/users/2/tickets</a>
			<br>
			<a href="${rc.contextPath}/events.json">GET:/events</a>
			<br>
			<a href="${rc.contextPath}/events/1.json">GET:/events/1</a>
			<br>
			<a href="${rc.contextPath}/tickets.pdf">GET:/tickets.pdf</a>
			<br>
			<a href="${rc.contextPath}/tickets/2.pdf">GET:/tickets/2.pdf</a>
			<br>
		</div>
      <hr>
		<div>
			<h1>MVC:</h1>
		</div>
		<div>
			<a href="${rc.contextPath}/accounts">GET:/accounts</a>
			<br>
			<a href="${rc.contextPath}/users">GET:/users</a>
			<br>
			<a href="${rc.contextPath}/users/2">GET:/users/2</a>
			<br>
			<a href="${rc.contextPath}/users/2/tickets">GET:/users/2/tickets</a>
			<br>
			<a href="${rc.contextPath}/users/2/tickets.pdf">GET:/users/2/tickets.pdf</a>
			<br>
			<a href="${rc.contextPath}/events">GET:/events</a>
			<br>
			<a href="${rc.contextPath}/events/1">GET:/events/1</a>
			<br>
			<a href="${rc.contextPath}/events/1/tickets">GET:/events/1/tickets</a>
			<br>
			<a href="${rc.contextPath}/events/1/tickets.pdf">GET:/events/1/tickets.pdf</a>
			<br>
			<a href="${rc.contextPath}/tickets/events/1">GET:/tickets/events/1</a>
			<br>
			<a href="${rc.contextPath}/tickets/events/1.pdf">GET:/tickets/events/1.pdf</a>
			<br>
			<a href="${rc.contextPath}/tickets/book">POST:/tickets/book</a>
			<br>
		</div>
		<hr>
		<a href="${rc.contextPath}/logout"><h1>LOGOUT</h1></a>
	</body>
</html>