<html>
	<head><title>Cinema</title></head>
	<body>
		<div>
			<h2>$!{error}</h2>
		</div>
		<div>
			<h2>$!{message}</h2>
		</div>
		<div>
			<h1>Login</h1>
			<form method="post" action="${rc.contextPath}/login">
					<table>
						<tr>
							<th><label for="email">Email</label></th>
							<td><input name="username" type="text"/></td>
						</tr>
						<tr>
							<th><label for="password">Password</label></th>
							<td><input name="password" type="password"/></td>
						</tr>
						<tr>
							<th></th>
							<td>
								<input name="_spring_security_remember_me" type="checkbox"/>
								<label for="remember_me">Remember me</label>
							</td>
						</tr>
						<tr>
							<th></th>
							<td><input name="commit" type="submit" value="Login" /></td>
						</tr>
					</table>
			</form>
			</script>
		</div>
	</body>
</html>