<html>
	<head><title>Cinema</title></head>
	<body>
		<div>
			<h2>$!{error}</h2>
		</div>
		<div>
			<h2>$!{message}</h2>
		</div>
		<div>
			<h1>Login</h1>
			<form method="post" action="${rc.contextPath}/login">
					<table>
						<tr>
							<th><label for="email">Email</label></th>
							<td><input name="username" type="text"/></td>
						</tr>
						<tr>
							<th><label for="password">Password</label></th>
							<td><input name="password" type="password"/></td>
						</tr>
						<tr>
							<th></th>
							<td>
								<input name="remember-me" type="checkbox"/>
								<label for="remember-me">Remember me</label>
							</td>
						</tr>
						<tr>
							<th></th>
							<td><input name="commit" type="submit" value="Login" /></td>
						</tr>
					</table>
			</form>
			</script>
		</div>
		<hr>
		<div>
			<h1>In order to test ROLLBACK Transaction for example login with Email: kim1@gmail.com Password: 1, go to /tickets/book<br>
			fill form with Event Name: Minions Seat: 1. You will see page with exception because price of ticket<br>
			with Birthday discount for this user is 190, but user has 189 (See link /accounts). You can try other cases.</h1>
		</div>
		<div>
			<h2>Email: kim1@gmail.com Password: 1</h2>
		</div>
		<div>
			<h2>Email: kim2@gmail.com Password: 2 (BOOKING_MANAGER)</h2>
		</div>
		<div>
			<h2>Email: ivan@gmail.com Password: 3</h2>
		</div>
		<div>
			<h1>After uploading users.json:</h1>
		</div>
		<div>
			<h2>Email: valentin@mail.ru Password: 4</h2>
		</div>
		<div>
			<h2>Email: aleks@mail.ru Password: 5 (BOOKING_MANAGER)</h2>
		</div>
	</body>
</html>